<h1>All Students:</h1>

<ul>
<% @students.each do |student| %>
  <li class=student_<%= student.id %>>
    <%= student.name %>
    <%= link_to 'Delete', student_path(student), method: 'delete' %>
  </li>
  <%end%>
</ul>
